 <section class="sign-up">
        <div class="container">

            <div class="form-container">
                <div class="left">

                    <form action="/webcast" class="form" method="GET">
                        <img src="/img/main-logo.png" alt="" id="logo">
                        <h3 class="title">Register for the Webcast</h3>

                        <input class="input" type="text" placeholder="First Name" required name="fname">
                        <input class="input" type="text" placeholder="Last Name" required name="lname">
                        <input class="input" type="email" placeholder="Email" name="email" required>

                        <input class="btn" type="submit" value="Get Started" id="submit">

                    </form>
                </div>
                <div class="right">
                    <img src="/img/logo-w-quote.png" alt="" id="logo-w-quote">
                    <p>Success is best when its shared. Allow us to help you with yours. Join our webcast and learn more</p>
                </div>
            </div>

        </div>
    </section>