 <header>
        <img src="/img/main-logo.png" id="webcast-logo" alt="">
        <h3>Welcome to the Webcast, {{fname}} {{lname}}</h3>
        <ul>
            <li class="nav-item"><a href="#talcast" onclick="openTab('talcast')">Talcast</a></li>
            <li class="nav-item"><a href="#collaborate" onclick="openTab('collaborate')">Collaborate</a></li>
        </ul>
        <a href="/">
          <span class="exit" title="Exit">+</span>
        </a>
      
    </header>
   <section class="web-cast">
    <div class="talcast-container tab-content">
        <div class="tab-pane" id="talcast">
             <iframe class="talcast-iframe" src="{{url}}" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="tab-pane" id="collaborate">
            <iframe class="collaborate-iframe" src="{{url2}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

   </section>